<center>
<%= image_tag(@song.url) %>
<div class= 'lead'>
<p class='text-center'>
<%= @song.track %>
</p>
<p class= 'text-center'>
<%= @song.album %>
</p>
<p class = 'text-center'>
<%= @song.artists %>
</p>
</div>
<h1 class ='text-center'><%= link_to 'Edit', edit_song_path(@song), class: "btn btn-danger btn-lg" %></h1>
<h1 class = 'text-center'><%= link_to 'Home',root_path, class:"btn btn-success btn-lg" %></h1>
</center>
