<style>
 body {
	background: #333333 !important;
 }
 </style>

<center>
<% unless @current.nil? %>
		<div class="player">
				<div class="player-info">
						<div class="player-info-text">
								<h2 class="player-song-name"><%= @current[:track]%></h2>
								<h3 class="player-artist"><%= @current[:artists] %></h3>
								<h3 class= "player-artist">Submitted by <%= @current[:username]%></small>

						</div>
						<div class="player-cover">
								<%= image_tag(@current[:url]) %>
						</div>
				</div>
<% end %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<% @songs.each do |song| %>
		<div class="song row clearfix">
				<h2>
						<%= song.track %><br>
						<%= song.artists %><br>
						<%= image_tag(song.url, width: '760') %><br>
						<small class="author">Submitted <%= time_ago_in_words(song.created_at) %> by <%= song.user.username %></small>
				</h2>
				<div class="btn-group">
						<span class="btn btn-default btn-xlg"> <%= song.get_upvotes.size %></span>
						<%= link_to like_song_path(song), method: :put, class: "btn btn-default btn-xlg" do %>
								<span class="glyphicon glyphicon-chevron-up"></span> Upvote
								<%#= song.get_upvotes.size %>
						<% end %>
						<%= link_to dislike_song_path(song), method: :put, class: "btn btn-default btn-xlg" do %>
								<span class="glyphicon glyphicon-chevron-down"> Down
										<%#= song.get_downvotes.size %>
								<% end %>
								<% if song.user == current_user %>
										<%= link_to 'Destroy', song, method: :delete, data: { confirm:'Are you sure?' } , class: "btn btn-default btn-xlg"%>
								<% end %>

				</div>
		</div>
<% end %>
</center>
<script>
$("#play-pause").click(function(){
		window.play();
});
</script>

