<div class="row">
<div class="col-xs-4"> 
	<h1> Current Playing </h1>
		<p> <%=@current[:track]%> - <%=@current[:artists]%> </p>
	<h2>Current Queue</h2>
	<% if @songs != nil %>
		<% @songs.each do |song| %>
			<p> <%= song.track %> - <%= song.artists %><p>
		<% end %>
	<% end %>
</div>
<div class="col-xs-8">
      <div class="row">
        <div class="col col-md-">
			<%= image_tag(@song.url, class: "picture-new") %>
			<%= render 'form', song: @song %>
		</div>
      </div>
</div>
<%#= link_to 'Back', search_path(@song) , :class => "btn btn-default" %>
