
<%= javascript_include_tag "search/modernizr.custom.js" ,"data-turbolinks-track" => true %>
<h1> Search</h1>
<%= form_tag(search_path, :method => "get", id: "search-form") do %>
		<div class="input-group">
				<%= text_field_tag 'search', params[:search], placeholder: "Search Tracks" , class: 'form-control' %>
				<span class="input-group-btn">
						<%= select_tag "search_opt",options_for_select(["Track","Album","Artist"],selected: 'Track'), class: 'form-control', style: "width:auto"%>
						<%= submit_tag "submit",class: "btn btn-danger",  'data-disable-with' => "Please wait.." %>
				</span>
		</div>
<% end %>
<ul class="grid effect-8" id="grid">
		<%case @search_opt %>
		<%when 'Artist'%>
				<% @search_res.each do |res| %>
						<li>
								<h1> <%= res.name %> </h1>
						</li>
						<% res.top_tracks(:US).each do |track| %>
								<li>
										<%= link_to image_tag(track.album.images.first["url"], size: "350" ),new_song_path(:track => track.name, :album => track.album.name, :artists => @search_res.first.name, :uri => track.uri) %> 
										<h3> <%= track.name%> </h3>
								</li>
						<% end %>
				<% end %>
		<%when 'Album'%>
				<% @search_res.each do |res| %>
						<li>
								<h1> <%= res.name %> </h1>
						</li>
						<% res.tracks.each do |track| %>
								<li>
										<%= link_to image_tag(track.album.images.first["url"], size: "350" ),new_song_path(:track => track.name, :album => track.album.name, :artists => @search_res.first.name, :uri => track.uri) %> 
										<h3> <%= track.name%> </h3>
								</li>
						<% end %>
				<% end %>
		<%when 'Track'%>
				<% @search_res.each do |track| %>
						<li>
								<%= link_to image_tag(track.album.images.first["url"], size: "400" ),new_song_path(:track => track.name, :album => track.album.name, :artists => @search_res.first.name, :uri => track.uri, :url => track.album.images.first["url"]) %> 
								<h2><%= track.name%></h2> 
						</li>
				<% end %>
		<% end %>
</ul>
<p class="info">Based on the <a href="https://tympanus.net/Development/GridLoadingEffects/">Loading Effects for Grid Items</a> by Erika Mackley</p>
<%= javascript_include_tag "search/masonry.pkgd.min.js" ,"data-turbolinks-track" => true %>
<%= javascript_include_tag "search/imagesloaded.js" ,"data-turbolinks-track" => true %>
<%= javascript_include_tag "search/classie.js" ,"data-turbolinks-track" => true %>
<%= javascript_include_tag "search/AnimOnScroll.js" ,"data-turbolinks-track" => true %>
<script>
console.log("Loaded text/java");
new AnimOnScroll( document.getElementById( 'grid' ), {
		minDuration : 0.4,
		maxDuration : 0.6,
		viewportFactor : 0.2
} );
</script>
