<p id="notice"><%= notice %></p>
<div class="span4">
		<div class="thumbnail">
				<div class="caption">
				</div>
				<%= image_tag(@song.url) %>
		</div>
</div>
<div class= 'lead'>
<p class='text-center'>
<%= @song.track %>
</p>
<p class= 'text-center'>
<%= @song.album %>
</p>
<p class = 'text-center'>
<%= @song.artists %>
</p>
</div>
<h1 class ='text-center'><%= link_to 'Edit', edit_song_path(@song), class: "label label-danger" %></h1>
<h1 class = 'text-center'><%= link_to 'Home',root_path, class:"btn btn-success" %></h1>
